{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Chips and Circuits</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <script src="{% static index.js %}"></script>
    </head>

    <body>
        <h1>Load chip data</h1>

        <div class="row">
            <div class="col-3">
                <form action="{% url 'upload_csv' %}" method="POST" enctype="multipart/form-data" class="form-horizontal"> 
                    {% csrf_token %}
                    <div class="form-group">
                        <div>
                            <h2>Netlist output file</h2>
                            <input type="file" name="netlist_file" id="netlist_file" required="True" class="form-control" >
                        </div>
                        <div>
                            <h2>Print file</h2>
                            <input type="file" name="print_file" id="print_file" required="True" class="form-control">
                        </div>     
                        <button id="upload_button"> Upload </button>
                    </div>
                </form>
            </div>
                
            <div class="col">
                <div class="center_div" id='graph_div'> </div>
            </div>
        </div>
    </body>

    <script>
        var graph_data = JSON.parse("{{graph_data_JSON|escapejs}}"); 
        var settings_data = JSON.parse("{{settings_JSON|escapejs}}"); 
    </script>
    <script src="{% static 'index.js' %}"></script>
  
</html>
